* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@import './header';
@import './banner';
@import './models';
@import './safety';
@import './media';